%header.header-mypage
  .bg-white
    %h1{:title => "OWNERS"}
      %a{:href => "/"} OWNERS
    %nav
      %ul.h-navi
        %li
          %a{:href => "/about"} OWNERSについて
      %ul.sub-navi
        %li
          %a{:href => "/owners/dashboard"} ダッシュボード
        %li
          %a{:href => "/owner_deliveries"} 送り先情報
        %li
          %a{:href => "/owners/account"} アカウント設定
        %li
          %a{:href => "/owners/logout"} ログアウト
