%header.header-mypage
  .bg-white
    %h2.js_header
      = link_to "OWNERS", root_path, method: :get, class: 'js_header_logo'
    %nav
      %ul.h-navi
        %li
          %i.fa.fa-question-circle-o.js_icon
          %a{:href => "/about"} OWNERSについて
        %li
          %i.fa.fa-columns.js_icon
          %a{href: "/about"} 使い方
        %li
          %i.fa.fa-address-card.js_icon
          %a{href: "/users/#{current_user.id}"} #{current_user.name}さんのダッシュボード
        %li
          %i.fa.fa-sign-out.js_icon
          = link_to "ログアウト", destroy_user_session_path, method: :delete
