.footer{
  color:white;
  height:300px;
  &__logo{
      font-size: 28px;
      font-style: italic;
      font-family: 'Apple Chancery',sans-serif;
      text-align: center;
  }
  &__nav ul{
    font-size: 15px;
    list-style: none;
    font-style:italic;
    float: left;
    width:100%;
    color: white;
  }
  &__nav li{
    display: inline-block;
    padding: 15px 10px 0 10px;

  }
  &__copy{
      font-size: 12px;
      padding-left: 100px;
      text-align: center;
      color: white;
  }
}

.fa-facebook-square:before {
    font-size: 30px;
}

.fa-twitter-square:before {
    font-size: 30px;
}

.fa-google-plus-square:before {
    font-size: 30px;
}
