.pattern
.small-background-container
  %h2.small-background-title
    %span OWNERS
  .footer__nav
    %ul.clearfix
      %li
        %a{href:"/contact"} お問い合わせ
      %li
        %a{href:"/terms"} 利用規約
      %li
        %a{href:"/qa"} よくある質問
      %li
        %a{href:"/privacy"} プライバシーポリシー
      %li
        %a{href:"/company"} 運営会社
      %li
        %a{href:"/law"} 特定商取引法に関する表示
  %ul.socials
    %li
      .footer__copy COPYRIGHT  2017  OWNERS
    %li
      %a{:href => "https://www.facebook.com/designmodo", :target => "_blank"}
        %i.fa.fa-facebook-square.fa-3x
    %li
      %a{:href => "https://twitter.com/Designmodo", :target => "_blank"}
        %i.fa.fa-twitter-square.fa-3x
    %li
      %a{:href => "https://plus.google.com/+Designmodo", :target => "_blank"}
        %i.fa.fa-google-plus-square.fa-3x
