.product
  .status.open
    %p 受付中
  %section.items
    =link_to product.title, product_path(product), class: "btn"
    %figure.item-image
      %img{alt:"", height:"223", s3:"1", src:"https://s3-ap-northeast-1.amazonaws.com/owners-pro/Product/65/main_image/w340h223_DSC01659.JPG", ssl:"1", width:"340"}/
    %h2 #{product.title}
    .info
      %p.place #{product.area}
      %p.price ¥ #{product.price}









/ .product
/   %section.items
/     .status.open
/       %p 受付中
/     %figure.item-image
/       %img{alt:"", height:"223", s3:"1", src:"https://s3-ap-northeast-1.amazonaws.com/owners-pro/Product/65/main_image/w340h223_DSC01659.JPG", ssl:"1", width:"340"}/
/     %h2 【第2期】まるごと一匹キープ：通称“黒いダイヤ” 青森県が誇る海の至宝「最高級 天然クロマグロ」
/     .info
/       %p.place 青森県西津軽郡深浦町
/       %p.price ¥160,000
