%a.item-link{href: "/products/#{product.id}"}
  %section.items
    .status.open
      %p 受付中
    %figure.item-image
      %img{alt: "", height: "223", s3: "1", src:  "https://s3-ap-northeast-1.amazonaws.com/owners-pro/Product/65/main_image/w340h223_DSC01659.JPG", ssl: "1", width: "340"}/
    %h2 #{product.title}
    .info
      %p.place
        %i.sprite-2x.icon-pin>
        #{product.area}
      %p.price
        %i.sprite-2x.icon-bag>
        ¥ #{product.price}

