%body
  #container
    .breadcrumb
      %ul
        %li
          = link_to "ホーム", root_path, method: :get
        %li
          %span ＞
        %li OWNERSについて
    %section.about-column
      %h2.page-title OWNERSについて
      .bg-color.even
        .inner
          %dl
            %dt
              %span> 1
              オーナーはすべて「定員制」
            %dd
              事前注文が確定するからこそ提供できる生産品、加工品など、
              %br>/
              オーナー制度だからこその厳選されたプランをご用意しているため、オーナーはすべて定員制で募集をしています。
            %dt
              %span> 2
              生産者やオーナー同士とつながる
            %dd
              生産物を育てている様子から配送の様子までを、OWNERSのコミュニケーションページ上で生産者が発信しています。
              %br>/
              生産物が届くまでの時間を、生産者や他のオーナーたちと共有しましょう。
            %dt
              %span> 3
              「食べる」だけでなく、「収穫体験」もプランのうち
            %dd
              オーナー特典の中には、登録した生産物が届くだけではなく、
              %br>/
              現地で生産者の収穫のお手伝いができる「体験」を含めたプランもあります。
            %dt
              %span> 4
              美味しかったら”おかわり”、大切な人にも”ギフト”
            %dd
              プランの契約期間中は、オーナー限定で「追加購入機能」が利用できるので、
              %br>/
              気に入った商品をリピートしたり、大切な人にオーナーとしてギフトすることもできます。
              %br/
              %small ※追加商品提供を行うかは、生産者（プラン）や時期により異なります。
      %br
      %h2.page-title
        = link_to "戻る", root_path, method: :get

