#wrapper
  #container.mypage-area
    .header
      = render partial: "/orders/header"
  #product-data
    .layout-bpx
      .left-box
        %dl.brown
          %dt
          %dd.close 受付中
        %dl
          %dt 産地
          %dd
            %span.nomal #{@product.area}
        %dl
          %dt 募集締切
          %dd
            %span> #{@product.deadline}
      - if user_signed_in?
        %a.btn-green.ajax.cboxElement{:href => "/products/#{@product.id}/orders/new"} お申し込み
      - else
        %a.btn-green.ajax.cboxElement{:href => "/", :method => "get"} ログインしてください
    #product-content
      %article.content
        %section
          %figure
            %img{:alt => "", :height => "420", :s3 => "1", :src => "https://s3-ap-northeast-1.amazonaws.com/owners-pro/ProductContent/743/content_image/w740h420_IMG_0777.JPG", :ssl => "1", :width => "740"}/
          %h3.product_h3 移住したい田舎。人も植物も健やかに育つ 長野県豊丘村
          %p.product_p
            長野県豊丘村。縄文時代の土器や土偶、古墳時代の須恵器などが村内のいたるところで発見されるなど、1万年以上も前から人が住みついていたとされるこの場所。はるか昔より、地の利を生かした独自の暮らしがある村です。
            %br/
            %br/
            諏訪湖を水源とし、長野県から太平洋へと流れ出る一級河川・天竜川が形成した日本一とうたわれる河岸段丘（かがんだんきゅう）の中心にあり、信州りんご、市田柿などの果樹や、自生する赤松林が多いことから、秋の味覚「信州松茸」の産地としても有名。
            %br/
            %br/
            南信州特有の澄んだ気候に、河岸段丘がつくる階段上の地形。自然と人々の暮らしの調和が一つの景色となるような、美しい村です。
        %section
          %figure
            %img{:alt => "", :height => "420", :s3 => "1", :src => "https://s3-ap-northeast-1.amazonaws.com/owners-pro/ProductContent/744/content_image/w740h420_20883550_1422586217830832_590027220_o.jpg", :ssl => "1", :width => "740"}/
          %h3.product_h3 「農家はカッコいい」開かれたりんご農園で伝えたい想い
          %p.product_p
            この豊丘村で代々果樹栽培を行ってきたのが、私たちの運営する「丘の上ファーム 原農園」です。父親の代から始まったりんご栽培を、農家という仕事をより魅力ある仕事にしていきたい。
            %br/
            %br/
            今の時代だからこそ常識にとらわれない農家としての生き方、経営の仕方があるのではないか、そんな思いで東京や地元長野でのサラリーマン生活を経て家業を継ぎました。
            %br/
            %section
              %figure
                %img{:alt => "", :height => "420", :s3 => "1", :src => "https://s3-ap-northeast-1.amazonaws.com/owners-pro/ProductContent/745/content_image/w740h420_IMG_0792.JPG", :ssl => "1", :width => "740"}/
              %h3.product_h3
              %p.product_p
                最初は意見が別れることもありましたが、今では家族一丸、そして地域の皆さんにも協力いただきながら、シーズン中は総勢15名ほどで、愛情を込めて作業にあたっています。お昼ごはんも園地のすぐとなりの大テーブルで囲んで食べたり。
                %br/
                %br/
                私たちの農園の特徴は、何といっても標高560mの所に園地があること。園地は、豊丘村を流れる天竜川の東側、南アルプスを背負った斜面にあり、県内でも日照量と降雨量が多い地域です。
                %br/
                %br/
                急斜面な上に、園地も複数に分かれているため、正直なところ作業効率としては良くありません。しかし周辺よりよりも一段上がったこの土地は水はけも抜群。一見非効率に思える場所こそが、りんごにとっては抜群の環境なのです。
            %section
              %figure
                %img{:alt => "", :height => "420", :s3 => "1", :src => "https://s3-ap-northeast-1.amazonaws.com/owners-pro/ProductContent/757/content_image/w740h420_harafamily.jpg", :ssl => "1", :width => "740"}/
              %h3.product_h3 丘の上ファーム原農園のりんごオーナーとして、信州育ちのりんごをあなたに
              %p.product_p 全国の皆さまからのご登録、一同心からお待ちしています！
